/* disable double-tap zoom */
* {
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    box-sizing: border-box;
}

html {
    position: fixed;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background: #aaa; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    padding: 0;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    color:#49a09d;
    letter-spacing: 3px;
}

h2 {
    margin: 0 0 10px 0;
    font-family: monospace;
    text-align: center;
    color: white;
}

h3 {
    padding: 0;
    margin: 0;
    /* font-size: 20px; */
    font-family: monospace;
    text-transform: uppercase;
    /* text-align: center; */
    color: #49a09d;
    letter-spacing: 3px;
    position: relative;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: white;
    margin: 25px 0 30px;
    width: 100%;
}

canvas {
    max-width: 100%;
}

input[type=text] {
    display: block;
    height: 3rem;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 5px rgb(0 0 0 / 30%);
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 12px;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto; 
    -ms-user-select: auto; 
    user-select: auto; 
}

input[type=text]:disabled {
    opacity: 0.4;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6d289b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6d289b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.label {
    display: inline-block;
    padding: 0;
    margin: 8px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    vertical-align: top;
    /* text-shadow: 0 0 4px rgb(0 0 0 / 30%); */
    /* color: #49a09d; */
    color: white;
}

#initialScreen {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#initialScreen.hidden {
    transform: translateX(-100%);
}

body:before {
    content: '';
    background: url(https://cdn-icons-png.flaticon.com/512/1393/1393556.png);
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 146px;
    background-position: -29px -24px;
    background-repeat: repeat;
    opacity: 0.03;
    z-index: -1;
}

svg.Icon {
    height: 150px;
    width: 150px;
    position: relative;
    top: -6px;
    z-index: -1;
    opacity: 1;
}

#initialScreen div {
    display: flex;
    flex-direction: column;
}

#newGameButton {
    margin-top: 15px;
}

.form-container {
    align-self: flex-start;
}

#browseGamesScreen, #createGameScreen {
    display: flex;
    position: absolute;
    left: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: translateX(-100%);
}

#browseGamesScreen.hidden, #createGameScreen.hidden {
    transform: translateX(0%);
}

.lobby-item {
    background: rgba(255,255,255,0.4);
    padding: 16px 16px 0 16px;
    display: block;
    margin: 0 0 20px 0;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.lobby-item:after {
    content: '\002B';
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.lobby-item.selected:after {
    content: '\002D';
    position: absolute;
    right: 20px;
    top: 7px;
    font-weight: bold;
    font-size: 24px;
}

#lobby-list {
    overflow-y: scroll;
    max-height: 75%;
    width: 100%;
    touch-action: auto;
    background: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#lobby-list::-webkit-scrollbar {
    display: none;
}

.password-protected h3:after {
    content: '';
    background: url('lock.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 21px;
    width: 13px;
    right: 25px;
    opacity: 0.7;
}

.no-password .passwordInput {
    display: none;
}

#passwordInput {
    height: 3rem;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 5px rgb(0 0 0 / 30%);
    border: none;
    cursor: pointer;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    max-width: 100%;
}

.lobby-details {
    height: 0px;
    padding-top: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.selected .lobby-details {
    height: 143px;
}

.selected.no-password .lobby-details {
    height: 78px;
}

.joinGameButton {
    margin-top: 2px;
}

.logo {
    margin: 20px;
}

#gameScreen {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
}

#gameScore {
    display: none;
}

#gameScore div {
    display: inline-block;
    padding: 0 15px;
}

.current-player {
    color: #aaffff;
}

.opponent-player {
    color: #ffcd00;
}

.button {
    height: 3rem;
    width: 100%;
    max-width: 300px;
    font-size: 1.1rem;
    color: white;
    background: #6d289b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.button:disabled {
    background: #aaa;
    opacity: 0.8;
    color: #ddd;
}

#rematchButton {
    visibility: hidden;
}

#gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    color: white;
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 1px 1px 12px rgba(54, 54, 54, 0.6);
    z-index: 1;
}

#countdown.loading:after {
    content: '';
    height: 128px;
    width: 128px;
    background: url('loading.gif');
    background-size: contain;
    position: absolute;
    top: -58px;
    left: -62px;
    background-repeat: no-repeat;
    background-position: center center;
}

.buttons {
    width: 126px;
    height: 126px;
    position: relative;
    margin: 12px 0;
}

.buttons button {
    position: absolute;
    width: 44px;
    height: 44px;
    font-size: 22px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.buttons:after {
    content: '';
    position: absolute;
    top: -1px;
    z-index: 100;
    left: -3px;
    height: 132px;
    width: 132px;
    font-family: monospace;
    color: #c3c3c3;
    background: radial-gradient(circle, rgba(179,179,179,0.5) 0%, rgba(160,160,160,0) 30%, rgba(255,255,255,0) 100%),  url(https://ryandantzler.com/snake/multiplayer/x.svg);
    background-position: center;
    background-size: contain;
    pointer-events: none;
}

.buttons:before {
    position: absolute;
    font-size: 40px;
    top: 4px;
    left: 4px;
    content: '';
    display: inline-block;
    width: calc(100% - 8px);
    height: 123px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(179,179,179,1) 0%, rgba(160,160,160,1) 64%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

button#btn-left {
    left: 0;
    top: 44px;
}

button#btn-right {
    right: 0;
    top: 44px;
}

button#btn-down {
    left: 50%;
    top: 88px;
    transform: translateX(-50%);
}

button#btn-up {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 272px;
}

.container__triangle {
    border-style: solid;
    height: 0px;
    width: 0px;
}

.container__triangle--up {
    border-color: transparent transparent rgba(0, 0, 0, 0.6);
    border-width: 0px 18px 18px;
    /* border-color: transparent transparent white; */
}

.container__triangle--right {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
    border-width: 18px 0px 18px 18px;
    /* border-color: transparent transparent transparent white; */
}

.container__triangle--down {
    border-color: rgba(0, 0, 0, 0.6) transparent transparent;
    border-width: 18px 18px 0px;
    /* border-color: white transparent transparent; */
}

.container__triangle--left {
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    border-width: 18px 18px 18px 0px;
    /* border-color: transparent white transparent transparent; */
}