/* disable double-tap zoom */
* {
    touch-action: none;
}

html {
    position: fixed;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background: #aaa; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    padding: 0;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    color:#49a09d;
    letter-spacing: 3px;
}

h2 {
    margin: 0 0 10px 0;
    font-family: monospace;
    text-align: center;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: white;
    margin: 25px 0 30px;
}

canvas {
    max-width: 100%;
}

#initialScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body:before {
    content: '';
    background: url(https://cdn-icons-png.flaticon.com/512/1393/1393556.png);
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 146px;
    background-position: -29px -24px;
    background-repeat: repeat;
    opacity: 0.03;
    z-index: -1;
}

svg.Icon {
    height: 150px;
    width: 150px;
    position: relative;
    top: -6px;
    z-index: -1;
    opacity: 1;
}

#initialScreen div {
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 20px;
}

#gameScreen {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
}

#gameScore {
    display: none;
}

#gameScore div {
    display: inline-block;
    padding: 0 15px;
}

.current-player {
    color: #aaffff;
}

.opponent-player {
    color: #ffcd00;
}

.button {
    height: 3rem;
    width: 272px;
    font-size: 1.1rem;
    color: white;
    background: #6d289b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

#gameCodeInput {
    height: 3rem;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border: none;
    cursor: pointer;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#rematchButton {
    visibility: hidden;
}

#gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    color: white;
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 1px 1px 12px rgba(54, 54, 54, 0.6);
    z-index: 1;
}

.buttons {
    width: 126px;
    height: 126px;
    position: relative;
    margin: 12px 0;
}

.buttons button {
    position: absolute;
    width: 44px;
    height: 44px;
    font-size: 22px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.buttons:after {
    content: '';
    position: absolute;
    top: -1px;
    z-index: 100;
    left: -3px;
    height: 132px;
    width: 132px;
    font-family: monospace;
    color: #c3c3c3;
    background: radial-gradient(circle, rgba(179,179,179,0.5) 0%, rgba(160,160,160,0) 30%, rgba(255,255,255,0) 100%),  url(https://ryandantzler.com/snake/multiplayer/x.svg);
    background-position: center;
    background-size: contain;
    pointer-events: none;
}

.buttons:before {
    position: absolute;
    font-size: 40px;
    top: 4px;
    left: 4px;
    content: '';
    display: inline-block;
    width: calc(100% - 8px);
    height: 123px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(179,179,179,1) 0%, rgba(160,160,160,1) 64%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

button#btn-left {
    left: 0;
    top: 44px;
}

button#btn-right {
    right: 0;
    top: 44px;
}

button#btn-down {
    left: 50%;
    top: 88px;
    transform: translateX(-50%);
}

button#btn-up {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__triangle {
    border-style: solid;
    height: 0px;
    width: 0px;
}

.container__triangle--up {
    border-color: transparent transparent rgba(0, 0, 0, 0.6);
    border-width: 0px 18px 18px;
    /* border-color: transparent transparent white; */
}

.container__triangle--right {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
    border-width: 18px 0px 18px 18px;
    /* border-color: transparent transparent transparent white; */
}

.container__triangle--down {
    border-color: rgba(0, 0, 0, 0.6) transparent transparent;
    border-width: 18px 18px 0px;
    /* border-color: white transparent transparent; */
}

.container__triangle--left {
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    border-width: 18px 18px 18px 0px;
    /* border-color: transparent white transparent transparent; */
}
